[submodule "davec"]
	path = davec
	url = git@github.com:tgunr/fDavec.git
[submodule "explain"]
	path = explain
	url = git@github.com:tgunr/factor-explain.git
[submodule "folder"]
	path = folder
	url = git@github.com:tgunr/fFolders.git
[submodule "shell"]
	path = shell
	url = git@github.com:tgunr/fShell.git
[submodule "smartcp"]
	path = smartcp
	url = git@github.com:tgunr/fSmartCopy.git
[submodule "file"]
	path = file
	url = git@github.com:tgunr/fFiles.git
[submodule "extensions"]
	path = extensions
	url = git@bitbucket.org:tgunr/fextensions.git
[submodule "mikrotik"]
	path = mikrotik
	url = git@bitbucket.org:tgunr/fmikrotik.git
[submodule "FactorFinder"]
	path = FactorFinder
	url = git@github.com:tgunr/FactorFinder.git
[submodule "acl"]
	path = acl
	url = git@github.com:tgunr/fACL.git
[submodule "c-types-ext"]
	path = c-types-ext
	url = git@github.com:tgunr/fCtypes.git
[submodule "dropbox"]
	path = dropbox
	url = git@github.com:tgunr/fDropbox.git
[submodule "pcap"]
	path = pcap
	url = git@github.com:tgunr/fpcap.git
[submodule "diff"]
	path = diff
	url = git@github.com:tgunr/fdiff.git
[submodule "mysql"]
	path = mysql
	url = git@github.com:tgunr/fMySQL.git
[submodule "js-factor"]
	path = js-factor
	url = git@github.com:tgunr/fjs-script.git
[submodule "netflow"]
	path = netflow
	url = git@github.com:tgunr/f-netflow.git
[submodule "new-regexp"]
	path = new-regexp
	url = git@github.com:tgunr/f-new-regexp.git
[submodule "sshutil"]
	path = sshutil
	url = git@github.com:tgunr/f-sshutil.git
[submodule "zencart"]
	path = zencart
	url = git@github.com:tgunr/f-zencart.git
[submodule "unix"]
	path = unix
	url = git@bitbucket.org:tgunr/funix.git
[submodule "keymapper"]
	path = keymapper
	url = git@bitbucket.org:tgunr/fkeymapper.git
[submodule "spotlight"]
	path = spotlight
	url = https://github.com/cwalston/spotlight.factor.git
